.search-input-field {
    background-color: whitesmoke;
    border-radius: 10px;
    border: 1px solid black;
    padding: 20px;
    width: 200px;
    height: 100px;
}

.search-submit {
    background-color: #026670    ;
}