/* body { */
    /* background-image: url('img_girl.jpg'); */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-size: cover;   */
/* } */

body {
    background: #edeae5;
    background-image: url(/client/public/images/wilderness_background.jpg);
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

