body {
  background: #edeae5;
  background-image: url(../images/wildernes_background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} 

.container-main {
  margin: 0 auto;
  max-width: 90%;
  width: 90%;
}

.card {
  border-radius: 10px;
    border: 1px solid black;
}